@{
    ViewBag.Title = "Contact";
    @Styles.Render("~/Content/contact.css")
}
<p class="contactHeading">Contact DD Shoe Reps</p>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2 class="h2">Address</h2>
            <address class="contactText">
                No 9, <br />Industrial Zone (Modarawila),<br />
                Panadura,<br />
                12560
            </address>
        </div>

        <div class="col-md-4">
            <h2 class="h2">Support</h2>
            <address class="mail">
                <strong>Support:</strong> <a href="mailto:Support@ddshoe.com">Support@ddshoe.com</a><br /><br />
                <strong>Marketing:</strong> <a href="mailto:Marketing@ddshoe.com">Marketing@ddshoe.com</a>
            </address>
        </div>

        <div class="col-md-4">
            <h2 class="h2">Call or Whatsapp</h2>
            <address class="contactText">
                0112567019(Head Office)<br />
                0712354291(Head Office whatsapp)
            </address>
        </div>
    </div>
</div>


