.formHeading {
    display: flexbox;
    font-size: 48px;
    font-weight: 600;
    letter-spacing: 8px;
    width: auto;
    height: 50px;
    margin-top: 100px;
    margin-bottom: 50px;
    color: black;
    text-align: center;
}

.formSubHeading {
    text-align: center;
}

.form-group {
    display: flex;
    margin: 0 auto;
    align-items: center;
    text-align: center;
}

.form-horizontal {
    margin: 0 auto;
    align-content: center;
    align-items: center;
    max-width: 1000px;
}
